#recipe-info{
    padding: 30px;
    background: whitesmoke;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

h2{
    font-family: 'RocknRoll One', sans-serif;
}

button{
    width: 200px;
    height: 30px;
    margin: 10px auto;
    font-family: sans-serif;
    font-size: 18px;
}

i{
    margin: 0 3px;
}

img{
    display: block;
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
    border-radius: 10px;
    margin: 30px;
}

p{
    padding: 30px;
    text-align: left;
    width: 100%;
    font-size: 18px;
}

#photo-description{
    display: flex;
    justify-content: space-between;
}
