<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <title>Fork Recipe</title>
    <link th:href="@{/style/header.css}" rel="stylesheet">
    <link th:href="@{/style/recipe_creation_edition.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=RocknRoll+One&display=swap"
          rel="stylesheet">
</head>
<body>
<ul id="header">
    <li><a th:href="@{/}">Index</a></li>
    <li><a th:href="@{/recipes}">List Of Recipes</a></li>
    <li><a th:href="@{/add_recipe}">Add Recipe</a></li>
    <li><a th:href="@{/user_room}">User Room</a></li>
</ul>
<div id="content">
    <div>
        <label>You are forking this recipe: <a th:utext="${recipe.getName()}" th:href="'/recipe?id=' + ${recipe.getId()}"></a></label>
        <input style="display: none" th:id="forkedRecipeId" th:value="${recipe.getId()}">
    </div>
    <div id="recipe-info">
        <label>Recipe name:</label>
        <input type="text" id="name"/>
        <label>Description:</label>
        <textarea placeholder="Description" id="description"></textarea>
        <label>Choose recipe picture:</label>
        <input type="file" onchange="showImage(event)" id="mainImage"/>
        <img id="showMainImage"/>
        <button type="button" onclick="fork_recipe()">Add Product</button>
    </div>
</div>
</body>
</html>