<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe</title>
    <link th:href="@{/style/header.css}" rel="stylesheet">
    <link th:href="@{/style/recipe.css}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/54144e2123.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=RocknRoll+One&display=swap"
          rel="stylesheet">
</head>
<body>
<ul id="header">
    <li><a th:href="@{/}">Index</a></li>
    <li><a th:href="@{/recipes}">List Of Recipes</a></li>
    <li><a th:href="@{/add_recipe}">Add Recipe</a></li>
    <li><a th:href="@{/user_room}">User Room</a></li>
</ul>
<div id="content">
    <div id="recipe-info">
        <div>
            <h2 th:utext="${recipe.getName()}"></h2>
            <a th:href="'/fork_recipe?id=' + ${recipe.getId()}"><button><i class="fas fa-code-branch"> </i>Fork this Recipe</button></a>
        </div>
        <label th:if="${recipe.getParentId() != null}">This Recipe was forked from it: <a th:href="'/recipe?id=' + ${recipe.getParentId()}">Recipe</a></label>
        <label  th:utext="'Date of creation: ' + ${recipe.getCreateDate()}"></label>
        <div id="photo-description">
            <img th:src="${recipe.getImageLink()}">
            <p th:utext="${recipe.getDescription()}"></p>
        </div>
    </div>
</div>
</body>
</html>
