<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
    <title>Update Recipe</title>
    <link th:href="@{/style/header.css}" rel="stylesheet">
    <link th:href="@{/style/recipe_creation_edition.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=RocknRoll+One&display=swap"
          rel="stylesheet">
</head>
<body>

<ul id="header">
    <li><a th:href="@{/}">Index</a></li>
    <li><a th:href="@{/recipes}">List Of Recipes</a></li>
    <li><a th:href="@{/add_recipe}">Add Recipe</a></li>
    <li><a th:href="@{/user_room}">User Room</a></li>
</ul>
<div id="content">
    <div id="recipe-info">
        <input style="display: none" th:id="recipeId" th:value="${recipe.getId()}">
        <label>Recipe name:</label>
        <input type="text" id="name" th:value="${recipe.getName()}"/>
        <label>Recipe description:</label>
        <textarea placeholder="Description" id="description" th:utext="${recipe.getDescription()}"></textarea>
        <label>Recipe picture:</label>
        <input style="border: none" type="file" onchange="showImage(event)" id="mainImage"/>
        <img id="showMainImage" th:src="${recipe.getImageLink()}"/>
        <button type="button" th:onclick="'update_recipe()'">Update Product</button>
    </div>
</div>
</body>
</html>